.form-group {
        display: flex;
        flex-direction: column;
    }
.result{
   font-size: 50px;
}
.home{
    display:flex;
    gap: 50px;
}
.text{
    font-size: 15px;
    text-align: center; 
}
footer{
    text-align: center;
    font-size: 12px;
}
.container-form{
    text-align:left ;
    margin: 10px;
    color: #FFFFFF;
    background-color: #0C356A;
    padding: 15px;
    border-radius: 15px;
}
.jeniskelamin{
    text-align: center;
}
.flex{
justify-content: center;
}
.form-group{
    margin: 10px;
    border-radius: 10px;
}
body{
    background: #FFFFFF;
    font-family: 'poppins';
    color: #0C356A;
    display: inline-block;
    margin: 40px;
}

@media only screen and (max-width: 480px) {
    .home{
        flex-direction: column;
    }
}

.judul{
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 2px solid #0C356A;
    display: block;
    background-color: #f8f8f8; 
    border-radius: 5px;
}
p{
    margin: 10px;
}
button{
    text-align: center;
    background-color: #FFC436;
    color: #0C356A;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'poppins';

}
.keunggulan{
text-align: center;
color: white;
border-radius: 15px;
background-color: #0C356A;
margin: 10px;
padding: 10px;

}
.container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.result-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    align-items: flex-start; 
}

.hasil, .symtomn {
    flex: 1; 
    padding: 20px;
}
.result{
    font-size: 20px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}
.halodoc-logo {
    width: 100px; 
    height: auto;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.halodoc-logo:hover {
    transform: scale(1.1); 
}

